.titulo{
        background-color: rgb(15, 14, 14);
        color:white;
        font-style: italic;
}

.navbar{
        background-color: rgb(15, 14, 14);
}
.jumbotron {
        background-image:url('abstracto2.jpeg');
        background-size: auto 100%;
        border-bottom:1px solid black;
}
.talento{
        background: rgb(204, 204, 204); 
        background: rgba(204, 204, 204, 0.5);   
}
.Galeria {
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       text-align: center;
}


.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}
.carousel {
        height: 400px;
      }

.carousel-caption{
        background: rgb(204, 204, 204); 
        background: rgba(204, 204, 204, 0.5);   
}
.texto{
        color:black;
}
.sigue{
color:black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-img-top{
  width: 650px;
  height:300px;
}

.footer {
        background: #f2f2f2;
        color: #616161;
        font-size: 12px;
        padding: 20px 0;
      }
      
      .footer-inner {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .footer div {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }
      
      .footer div i {
        margin-right: 10px;
      }
      
      .footer ul {
        display: flex;
        flex-wrap: wrap;
      }
      
      .footer li {
        margin-right: 30px;
        margin-bottom: 20px;
      }

      .lista{
        display:inline-block;
        padding-left:3px;
        padding-right:3px;
        justify-content: space-between;
        list-style: none;
        list-style-position: inherit;
      }
      .tarjeta33 {
        align-items: center;
        background-color: rgb(211, 211, 210);
        font-size: 13px;
      }

      .links-inner{
        text-align: center;
        justify-content: space-between;
      }

      .encabezado{
        font-size: 14px;
      }

    
      .chat{
        width:80px;
      }
      .chattext{
        font-size: 18px;
      }
      
      .texto{
        justify-content: stretch;
      }

      